<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div style="margin: 100px">
			<div style="padding: 20px">
				<h1>🌟 Express + SQLite + TypeORM Application</h1>
				<p> This is a simple Express.Js and SQLite application.</p>
			</div>

			<div style="padding-left: 20px; padding-right: 20px; padding-bottom: 10px">
			<h3> Routes </h3>
			<p>GET &nbsp;&nbsp;&nbsp;<a href="/books">\books</a></p>
			<p>POST &nbsp;&nbsp;<a href="/books">\books</a></p>

			</div>
			<!-- packages used -->
			<div style="padding-left: 20px; padding-right: 20px; padding-bottom: 10px">
				<h3>Main Packages</h3>

				<p>
					📦 Express : <a target="_blank" href="https://www.npmjs.com/package/express">npm</a> |
					<a target="_blank" href="https://github.com/expressjs/express">GitHub</a> |
					<a target="_blank" href="https://expressjs.com/">Website</a>
				</p>

				<p>
					📦 node-sqlite3 : <a target="_blank" href="https://www.npmjs.com/package/sqlite3">npm</a> |
					<a target="_blank" href="https://github.com/TryGhost/node-sqlite3">GitHub</a> 
				</p>
				
				
				<p>
					📦 TypeORM : <a target="_blank" href="https://www.npmjs.com/package/typeorm">npm</a> |
					<a target="_blank" href="https://github.com/typeorm/typeorm">GitHub</a> |
					<a target="_blank" href="https://typeorm.io/">Website</a>
				</p>

				<p>
					📦 TypeScript :
					<a target="_blank" href="https://www.npmjs.com/package/typescript">npm</a> |
					<a target="_blank" href="https://github.com/microsoft/TypeScript">GitHub</a> |
					<a target="_blank" href="https://www.typescriptlang.org/">Website</a>
				</p>
			</div>
			<!-- support us -->
			<div style="padding-left: 20px; padding-right: 20px">
				<h3>💖 Sponsors</h3>
				<p
					>AppMaker is supported by the following companies and
					<a target="_blank" href="https://github.com/oxas/appmaker">Sponsors on GitHub</a>
				</p>
				<p>
					<a href="github.com" target="_blank">
						<img
							src="https://i.imgur.com/IBItATn.png"
							style="padding: 4px; height: 64px;"
						/>
					</a>
				</p>
				<p>
					<a href="github.com" target="_blank">
						<img
							src="https://i.imgur.com/IBItATn.png"
							style="padding: 4px; height: 64px;"
						/>
					</a>
				</p>

				<a target="_blank" href="https://github.com/sponsors/oxas">Your company logo here</a>
			</div>
		</div>
	</body>
</html8
